<!DOCTYPE html>
<html>
<head>
  <title>TestJqueryUiTimepickerAddon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script src="<%=get_current_host_and_port%>jquery-ui-timepicker-addon.js"></script>
  <script>
  $(document).ready(function() {  
    $("#cat_birthday").timepicker();    
  });
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
